<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/finance/stylesincomes.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <main>

        <h1>Reporte de Ganancias</h1>
       
        <h3 class="reservation-info">Selecciona un mes para obtener la ganancia mensual y diaria </h3>
        
        <form action="/finance/income/report" method="GET">
            <label for="date">Fecha</label>
            <select name="date" id="date">
                <% for (var date of incomeDates) { %>
                <option value="<%= date.incomeDate %>"><%= date.incomeDate %></option> 
                <% } %>
            </select>
            <button class="btn2" type="submit">Descargar Reporte</button>
        </form>

    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>