<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/customers/stylesreservations.css">
<link rel="stylesheet" href="/css/customers/mqsstylesreservations.css">
<link rel="stylesheet" href="/css/products/mqsstylesproducts.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <main>

        <h1>Ordenes de Inventario</h1>
      
        <% if (errorMessage) { %>
          <p class="error-message">ERROR: <%= errorMessage %></p>
          <% } %>

        
            <table class="table col-8">
                <thead>
                  <tr>
                    <th scope="col-2">#</th>
                    <th scope="col-2">Motivo</th>
                    <th scope="col-2">Id Estado</th>
                    <th scope="col-2">Estado de Orden</th>
                  </tr>
                </thead>
                <tbody>
                    <% for (var order of orders) { %>
                  <tr>
                    <form action="/admin/order-products/<%= order.id %>" class="common-form" method="POST">
                    <th scope="row"><%= order.id %></th>                    
                    <input type="hidden" id="order" name="order" value="<%= order.id %>">

                    <td><%= order.orderDescription %></td>
                    <input type="hidden" id="description" name="description" value="<%= order.orderDescription %>">

                    <td><%= order.statusId %> </td>
                    <input type="hidden" id="statusId" name="statusId" value="<%= order.statusId %>">

                    <td><%= order.statusDescription %> </td>
                    <input type="hidden" id="status" name="status" value="<%= order.statusDescription %>">
                    <input type="hidden" id="orderObj" name="orderObj" value="<%= order %>">
                    <td><button class="main-button" type="submit">Ver</button> </td>
                  </form>
                  </tr>
                  
                
        
                  <% } %>
                  
                </tbody>
              </table>
          
      

        

    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>

