<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/customers/stylesreservations.css">
<link rel="stylesheet" href="/css/customers/mqsstylesreservations.css">
<link rel="stylesheet" href="/css/products/mqsstylesproducts.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="order">
          <h1>Solicitud de Inventario</h1>
        </div>
        
       <% if (errorMessage) { %>
          <p class="error-message">ERROR: <%= errorMessage %></p>
          <% } %>

          <% if (!orderProducts) { %>
           <h3>No hay productos asociados</h3>
           <div class="panel">
              
            <div class="table">
              <h2>Productos Asociados</h2>
            <table class="">
            <thead>
              <tr>
                <th scope="col-2">Id Producto</th>
                <th scope="col-2">Producto</th>
                <th scope="col-2">Cantidad</th>
                <th scope="col-2">Categoria</th>
               
              </tr>
            </thead>
            <tbody>
               
              <tr>
                
                <th scope="row">-</th>

                <td>-</td>
                <td>-</td>                    
                <td>-</td>              
                <td>-</td>
                <td>-</td>
             
              </tr>
              
            
    
          
              
            </tbody>
          </table>
          
      </div> 
      <div class="product">
      <h2>Agregar Producto</h2>
      <form action="/admin/order-products/add" method="POST">
        <div class="form-field-group">
          <label for="name">*<span class="reservation-field-label">Orden</span>
          </label>
          <input type="number" name="order" id="order" value="<%= order %>" class="fill-input" min="1" value="15"
          step="1" required>
      </div>
        <div class="form-field-group">
          <label for="name">*<span class="reservation-field-label">Producto: </span>
          </label>
          <select name="product" id="product">
            <% if (!products) { %>
            <% for (var product of products) { %>
           <option value="<%= product.id %>"><%= product.name %></option>
           <% } %>
           <% } %>
        </select>
      </div>
      
      <div class="form-field-group">
        <label for="name">*<span class="reservation-field-label">Cantidad </span>
        </label>
        <input type="number" name="quantity" id="quantity" class="fill-input" min="1" value="15"
        step="1" required>
    </div>
    <button class="btn2 float-right" type="submit">Agregar</button>
      
      
       

        
      </form>
      


      </div>
      </div> <!--PANEL--> 
      
    

            <% } else { %>
              <div class="panel">
              
              <div class="table">
                <h2>Productos Asociados</h2>
              <table class="">
              <thead>
                <tr>
                  <th scope="col-2">Id Producto</th>
                  <th scope="col-2">Producto</th>
                  <th scope="col-2">Cantidad</th>
                  <th scope="col-2">Categoria</th>
                </tr>
              </thead>
              <tbody>
                  <% for (var product of orderProducts) { %>
                <tr>
                  
                  <td scope="row"><%= product.productId %></td>

                  <td><%= product.product %></td>
                  <td><%= product.quantity %></td>                    
                  <td><%= product.category %></td>
                  <form action="/admin/order-products" class="common-form" method="POST">
                  <input type="hidden" id="product" name="product" value="<%= product.productId %>">
                  <input type="hidden" id="order" name="order" value="<%= order %>">
                  <td><input type="image" src="/media/eliminar.png" alt="Submit" width="30px"> </td>
                </form>
                <form action="/admin/order-products/update" class="common-form" method="POST">
                  <input type="hidden" id="order" name="order" value="<%= order %>">                  
                  <input type="hidden" id="productId" name="productId" value="<%= product.productId %>"> 
                  <input type="hidden" id="product" name="product" value="<%= product.product %>">        
                  <td><input type="image" src="/media/actualizar.png" alt="Submit" width="30px"> </td>
                </form>
                </tr>
                
              
      
                <% } %>
                
              </tbody>
            </table>
            
        </div> 
        <div class="product">
        <h2>Agregar Producto</h2>
        <form action="/admin/order-products/new" method="POST">
          <div class="form-field-group">
            <label for="name">Orden</label>
            <input type="number" name="order" id="order" value="<%= order %>" class="fill-input" min="1" value="15"
            step="1" required>
        </div>
          <div class="form-field-group">
            <label for="name">Producto 
            </label>
            <select name="product" id="product">
              <% for (var product of products) { %>
             <option value="<%= product.id %>"><%= product.name %></option>
             <% } %>
          </select>
        </div>
        
        <div class="form-field-group">
          <label for="name">Cantidad 
          </label>
          <input type="number" name="quantity" id="quantity" class="fill-input" min="1" value="15"
          step="1" required>
      </div>
      <button class="btn2 float-right" type="submit">Agregar</button>
        
        
         

          
        </form>
        

  
        </div>
        </div> <!--PANEL--> 
        
        <form action="/admin/order-products/status" class="" method="POST">    
          <input type="hidden" id="order" name="order" value="<%= order %>">     
        <button class="btn3" type="submit">Finalizar Orden</button>
        </form>
          <% }  %>   
           
    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>

