<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/customers/stylesreservations.css">
<link rel="stylesheet" href="/css/customers/mqsstylesreservations.css">
<link rel="stylesheet" href="/css/products/mqsstylesproducts.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <main>

        <h1>Reponer insumos</h1>
      
        <% if (errorMessage) { %>
          <p class="error-message">ERROR: <%= errorMessage %></p>
          <% } %>
            <table class="table col-8">
                <thead>
                  <tr>
                    <th scope="col-2">#</th>
                    <th scope="col-2">Nombre</th>
                    <th scope="col-2">Stock</th>
                    <th scope="col-2">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                    <% for (var product of products) { %>
                  <tr>
                    <form action="/admin/product/update" class="common-form" method="POST">
                    <th scope="row"><%= product.id %></th>
                    <input type="hidden" id="productId" name="productId" value="<%= product.id %>" >

                    <td><%= product.name %></td>
                    <input type="hidden" id="name" name="name" value="<%= product.name %>">

                    <td><%= product.quantity %> </td>
                    <input type="hidden" id="quantity" name="quantity" value="<%= product.quantity %>">
                    <td><button class="main-button" type="submit">Actualizar</button> </td>
                  </form>
                  </tr>
                  
                
        
                  <% } %>
                  
                </tbody>
              </table>

      

        

    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>

